*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(165, 165, 165);
    color: white;
    }
h1{
    text-align: center;
    color: black;
    background-color: white;
}
p{
    text-align: center;
}

strong{
    color: rgb(255, 255, 255);
}
.apresentacao_links{
    display: flex;
    justify-content: space-between;
}
.apresentacao_links_link{
background-color: rgb(149, 149, 149);
width: 280px;
text-align: center;
border-radius: 160px;
font-size: 24px;
font-weight: 600;
padding: 21.5px 0;
text-decoration: none;
color: black;
font-family: 'Montserrat', sans-serif;
}

.menu{
    max-width: 1400px;
    padding: 1%;
    margin: 0 auto;
}
.menu ul{
    display: flex;
    justify-content: space-around;
}
.menu li{
    list-style: none;
    display: inline-block;
}

.menu a{

    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}
.menu a:hover{
    text-decoration: underline;
    background-color: rgb(76, 70, 70);
}
    
    